.login-app-logo{
    height: 74px;
    width: 74px;
}

.forget-password-link{
    text-decoration: none;
}

.login-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-option-line{
    width: 100%;
    height: 1px;
    background-color: #B9B9B9;
    z-index: -100;
}

.login-option-text{
  padding: 0 8px;
  margin: 0;
}

.login-error-msg-container{
    position: relative;
    width: 100%;
}