
.stages-bar-container{
    display: flex;
    width: 100%;
    text-align: center;
}

.stages-bar-stage-container{
    flex: 1 1 0px;
}

.stages-bar-stage-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height:12px ;
    margin-bottom: 10px !important;
}

.stages-bar-stage-container:first-child .stages-bar-stage-top{
    border-radius: 10px 0 0 10px;
}

.stages-bar-stage-container:last-child .stages-bar-stage-top{
    border-radius: 0 10px 10px 0;
}

.stages-bar-circle{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: white;
}


.stages-bar-label{
    font-weight: 500;
    font-size: 12px;
}


.stages-bar-container-vertical{
    display: flex;
    width: auto;
    height: 100%;
    text-align: center;
    flex-direction: column;
}

.stages-bar-container-vertical .stages-bar-stage-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px ;
    height: 100%;
    margin-bottom: 0 !important;
    margin-right: 10px !important;
}

.stages-bar-container-vertical .stages-bar-stage-container{
    display: flex;
    align-items: center;
}

.stages-bar-container-vertical .stages-bar-stage-container:first-child .stages-bar-stage-top{
    border-radius: 10px 10px 0 0 ;
}

.stages-bar-container-vertical .stages-bar-stage-container:last-child .stages-bar-stage-top{
    border-radius: 0 0 10px 10px ;
}